html,
body {
  margin: 0;
  padding: 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.post {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 15px auto;
  width: 425px;
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  font-size: 1em;
  color: #555;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.post img {
  max-width: 100%;
  height: auto;
  max-height: 50%;
}

.add-post-button {
  background-color: #4c56af;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 40px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.add-post-button:hover {
  background-color: #3f4896;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
